@model ReceiptMaster.ViewModels.ReceiptIndexData

@{
    ViewBag.Title = "Receipts";
}

<h1>Receipts</h1>

<p>
    <a asp-action="Create">Create New Receipt</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Shop</th>
            <th>Date of Purchase</th>
            <th>Sum</th>
            <th>Items</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var receipt in Model.Receipts)
        {
            string selectedRow = "";
            if (receipt.ReceiptID == ViewBag.ReceiptID)
            {
                selectedRow = "success";
            }
            <tr class="selectedRow">
                <td>
                    @Html.DisplayFor(modelItem => receipt.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => receipt.Shop)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => receipt.PurchaseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => receipt.Sum)
                </td>
                <td>
                    @{
                        foreach (var item in receipt.Items)
                        {
                            @item.Name <br />
                        }
                    }
                </td>
                <td>
                    @Html.ActionLink("Select", "Index", new { id = receipt.ReceiptID }) |
                    <a asp-action="Edit" asp-route-id="@receipt.ReceiptID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@receipt.ReceiptID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@receipt.ReceiptID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (Model.Items != null)
{
    <h3>Selected receipt: @ViewBag.ReceiptTitle</h3>
    @Html.ActionLink("Add new Item to selected Receipt", "Create", "Items", new { ReceiptID = ViewBag.ReceiptID })
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Quantity</th>
            <th>Price</th>
            <th></th>
        </tr>

        @foreach (var item in Model.Items)
        {
            string selectedRow = "";
            if (item.ItemID == ViewBag.ItemID)
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Category
                </td>
                <td>
                    @item.Quantity
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "Items", new { id = item.ItemID}) |
                    @Html.ActionLink("Delete", "Delete", "Items", new { id = item.ItemID})
                </td>
            </tr>
        }

    </table>
}